<section class="m-1">
    <a href="/cupons/novo" class="btn btn-dark">
        <i class="bi bi-plus"></i>
        Criar cupom
    </a>
    <hr/>
    <form method="GET" style="width: 70%; margin: 10px auto; display: flex">
        <input class="form-control form-control-sm" type="search" 
        name="nomeProduto" placeholder="Nome do produto..." />
        {{!-- value="{{ nomeProduto }}" --}}
        <button class="btn btn-sm btn-dark mx-2">
            <i class="bi bi-search"></i>
        </button>
    </form>
    <table class="table">
        <thead>
            <th>Titulo</th>
            <th>Categoria</th>
            <th>Validade</th>
        </thead>
        <tbody>
            {{#each cupons}}
                <tr>
                    <td>{{ this.title }}</td>
                    <td>{{ this.code }}</td>
                    <td>{{ this.category }}</td>
                    <td>{{ this.expDate }}</td>
                    <td>
                        <div>
                            <a href="/cupons/editar/{{ this._id }}" class="btn btn-sm btn-warning">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </div>
                        <div>
                             <form name="deletarForm" method="POST" action="/cupons/deletar">
                                <input type="hidden" name="_id" value="{{ this._id }}">
                                <button class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form> 
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</section>